import 'package:get/get.dart';

import '../controllers/$tmplName_controller.dart';

class $TmplNameBinding implements Bindings {
  @override
  void dependencies() {
    Get.lazyPut<$TmplNameController>(() => $TmplNameController());
    // Get.put<$TmplNameController>($TmplNameController());
  }
}